<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head><link href="Confirm.css" rel="stylesheet"></head>
<style>
body {
  background-image: url("/background images/b1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


</style>
<center>
<div class="realoutercontainer">
    <div class="outercontainer">
        <div class="outercontainer2">
            <div class="outercontainer3">
                <div class="outercontainer4">
                    <br><br><br><br><br><br><br>

                    <h1>Order Confirmed,Thank You!!</h1>
                    <h2>Your order # is: <span>000166954</span>.</h2>
                    <h3>We'll email your tracking info.</h3>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <a class="action primary continue" th:href="@{'/home'}">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
                <br><br><br><br><br><br>           </div>


    <div class="common-rectangleGrid original">
        <!-- Background -->
        <div class="backgroundContainer">
            <div class="grid">
                <div class="background"></div>
            </div>
        </div>
        <!-- rectangles -->
        <div class="rectangleContainer">
            <div class="grid">
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>

            </div>
        </div>
    </div>

</div>
   </center>
</html>